@model IEnumerable<RestaurantReviewLibrary.Review>

@{
    ViewData["Title"] = "Index";
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReviewId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodQualityRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceLevelRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AtmosphereRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AVGRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoodQualityRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceLevelRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AtmosphereRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AVGRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
